* {
  font-family: Open Sans, Open Sans Condensed, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  color: gray;
  text-decoration: none;
}